.header {
    text-align: center;
    font-size: large;
}
.tab {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: medium;
}

.mainpage{
    display: flex;
}

.mainpage img {
    margin-top: 20px;
    padding: 30px;
}

.mainpagetext {
    border: 10px solid white;
    background-color: blanchedalmond;
    padding: 30px;
}

.gridimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.gridimg img {
    margin-top: 20px;
}

.gridvideo {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridvideo video {
    margin-top: 20px;
}

.pageintro {
    padding: 20px;
    border: 10px solid white;
    background-color: rgb(255, 209, 179);
}

.linkchild{
    border: 10px solid white;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}

.linkchild p{
    padding-left: 70px;
    font-size: 20px;
}

