.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.tab {
    background-color: yellow;
    padding: 10px;
    font-size: 35px;
}
.text{
    background-color: pink;
    padding: 10px;
    font-size: 25px;
}